* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
  margin-top: 10px;
  font-size: 15px;
  line-height: 1.3;
}

.scontrino {
  position: relative;
  width: fit-content;
  background-color: rgb(224, 224, 224);
  border-left: 1px solid black;
  border-right: 1px solid black;
  margin: 20px auto;
  padding: 20px 8px;
  overflow: hidden;
}

.circles {
  display: flex;
  position: absolute;
  left: 0; 
  width: 200px;
}

.circles.top {
  top: 0;
  transform: translateY(-50%);
}

.circles.bottom {
  bottom: 0;
  transform: translateY(50%);
}

.circle {
  width: 10px;
  height: 10px;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  overflow: hidden;
}

